/* BASE STYLES */

body {
  background-image: url('../img/bg-pattern.jpg');
}

.container {
  background-color:  #ffebec;
}

h2 {
  font-family: 'IBM Plex Sans';
  margin: 45px 0;
  padding: 25px 10px;
  text-transform: uppercase;
  color: chocolate;
  border-bottom: 3px solid rgba(216, 141, 88, 0.568);  
}

p {
  font-family: 'Inconsolata';
}


a {
  font-family: 'IBM Plex Mono';
}

/* NAV BAR STYLES */

nav .navbar-nav.active {
  color:  #f5979c;
}

.navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 0;
}

a {
  color: #f5979c;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}

.active {
  color:  chocolate;
}

nav a:hover {
  color:  rgb(244, 193, 116);
}

.navbar-brand span {
  color:  #fee5e7;
  background-color: chocolate;
  padding: 15px 15px;
}

.d-inline {
  display: inline!important;
  border-bottom: none;
}

.pb-3, .py-3 {
  padding-bottom: 15px !important;
}
.pt-3, .py-3 {
  padding-top: 15px !important;
}

@media (max-width: 579px) {
  .nav-link {
    text-align: center !important;
    margin: 10px 25px 10px 50px;
    padding: 2px 2px;
  }
  .navbar-brand {
    margin: 0;
    background-color: chocolate;
    text-align: center !important;
    padding: 0;
  } 
  .navbar-brand span {
    color:  #fee5e7;
    background-color: chocolate;
    padding: 10px 10px;
  }
}

/* ABOUT ME */

.profile-pic {
  width: 250px;
  display: block;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 10px 10px;
}


/* PORTFOLIO */

.portfolio p {
  color: beige;
  font-size: 18px;
  font-weight: 600px;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 5px;
  z-index: 1;
  top: -120px;
  background-color: #f5979c;
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 40px;
}

.portfolio img {
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0;
}

.portfolio-text-container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

/* CONTACT */

form {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(216, 143, 33);
}


.btn {
  background-color: #ffbbbe;
  border-color:  #ffbbbe;
  border-radius: 0;
  color: chocolate;
  margin: 40px 0;
}

.btn:hover {
  background-color: chocolate;
  color: #ffd2d4;
  border-radius: 0;
  border-color: chocolate;
}

/* FOOTER */

footer .container {
  width: auto;
  width: 100%;
  margin: 170px 0 0;
  padding: 0 15px;
  background-color: #f5979c;
}


footer {
  color: #faebec;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-auto, .my-auto {
  margin-top: auto!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}

.pt-3, .py-3 {
  padding-top: 1rem!important;
}

footer p {
  color: #faebec;
}

#sticky-footer {
  flex-shrink: none;
}

.social-icon {
  height: 30px;
  margin: 20px 10px;

}

.social-icons-container {
  text-align: center;
}

